* {
    margin: 0px; /* Remove default spacing*/
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;


}

/* now for the page layout */
body {
    height: 100vh; /*means 100% full view port/ full screen */
    display: flex;
    /* now to make the container the the center/middle of the page  */
    justify-content: center; /*center the items horizontally*/
    align-items: center; /* center the items vertically*/ 
    background: linear-gradient(
            135deg, /*direction of colour- bottom l;eft to top right-diagonal*/ 
            rgb(102,126,234),
             rgb(118,75,162) );
}

/* now for the container */
.container {
    width: 350px;
}

form {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 20px;

}

input {
    margin: 10px 0px; /*10px from top and 0px from bottom*/
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(204, 204, 204); /*light grey*/
    font-size: 14px;
}

/* button base */
button {
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: rgb(102, 126, 234); /*this is the main color*/
    color: white;
    cursor: pointer;
    font-size: 15px;
    position: relative; /*need for the glow */
    z-index: 1;
    overflow: hidden;
}

/* for the glow layer */
button::before {
    content: ""; /*creates a fake layer */

    position: absolute;
    top: -2px;
    left: -2px;

    width: calc(100% + 4px); /* this is to make it bigger than the button*/
    height: calc(100% + 4px);
    border-radius: 10px;
    /* for the gradient glow */
    background: linear-gradient(
        45deg,
        rgb(255,0,0),
        rgb(255,115,0),
        rgb(255,251,0),
        rgb(72,255,0),
        rgb(0,255,213),
        rgb(0,43,255),
        rgb(122,0,255),
        rgb(255,0,200),
    );
    z-index: -1;
    filter: blur(8px); /*soft glow*/
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

}

/* to show glow on hover */
button:hover::before {
    opacity: 1;
}

button:active {
    transform: scale(0.97);
}

p {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

a {
    color: rgb(102, 126, 234);
    font-weight: bold;
    text-decoration: none;
}